@use "../abstracts/variables";

.mouse {
  width: 26px;
  height: 42px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 60px;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    background: variables.$color-primary;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.4s ease-in-out infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 26px;
  }
}
